h1 {
    text-align: center;
}
body {
    font-family: sans-serif;
}
#charts {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#incidents_by_severity_chart {
    display: flex;
}
#crash_duration_by_type_chart {
    display: flex;
}
.control_filter {
    margin-left: 2em;
    margin-top: 1em;
    font-style: bold;
}
.dashboard {
    border: 1px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 8px;
    max-width: 98%;
    margin-bottom: 20px;
}